.home-navbar {
    margin:auto;
    font-family: "EB Garamond", sans-serif;
    color: rgb(18,18,18);
    opacity: 1;
    font-weight: bold;
    padding-bottom: 15px;
}

#NavLinks {
    border-bottom: 2.5px solid black;
}
.logo {
    height:4em;
    padding-right: 10px;
}